@model IEnumerable<RestaurantSiteComenzi.Models.Produs>

@{
    ViewData["Title"] = "Index";
}
<div style="text-align: center">
    <h1 >Produse</h1>
    <h7> Panou de gestionare a produselor aflate în oferta restaurantului</h7>
</div>

<p>
    <a class="btn save" asp-action="Create">Adaugă un produs nou</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a id="tabel-a" asp-action="Index" asp-route-sortOrder="@ViewData["NameParam"]">@Html.DisplayNameFor(model => model.Nume_Produs)</a>
            </th>
            <th>
                <a id="tabel-a" asp-action="Index" asp-route-sortOrder="@ViewData["PretParam"]">@Html.DisplayNameFor(model => model.Pret_Produs)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagine)
            </th>
            <th>
                <div id="category" class="dropdown">
                    <button class="dropdown-toggle"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a id="all" class="dropdown-item" asp-action="index">Toate produsele</a>
                        <a id="P" class="dropdown-item" asp-route-sortOrder="@ViewData["PizzaParam"]">Pizza</a>
                        <a id="D" class="dropdown-item" asp-route-sortOrder="@ViewData["DesertParam"]">Desert</a>
                        <a id="B" class="dropdown-item" asp-route-sortOrder="@ViewData["BauturaParam"]">Băuturi</a>
                    </div>
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume_Produs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret_Produs)
            </td>
            <td>
                <img style="width: 100%; height: auto; max-width: 200px;"
                src="@Url.Content(item.Imagine)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie_produs.Categorie )
            </td>
            <td>
                <a class="btn edit" asp-action="Edit" asp-route-id="@item.id">Editează</a>
                <a class="btn delete" asp-action="Delete" asp-route-id="@item.id">Ștergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
