@model IEnumerable<RestaurantSiteComenzi.Models.Produs>

@Html.Partial("_Header")
<link href="~/css/Home.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/js/Home.js"></script>


  <div class="row">

    @foreach (var item in Model) {
    <div class="column">
      <div class="card">
        <img src=" @Url.Content(item.Imagine) " class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> @Html.DisplayFor(x => item.Nume_Produs) </h5>
          <p class="font-italic text-danger"> @Html.DisplayFor(x => item.Pret_Produs)</p>
        </div>
        <div class="row">
            <input type="hidden" value=" @Html.DisplayFor(x => item.id) " class="prod_id">
            <label>Cantitate:</label>
            <div class="input-group text-center mb-3" style="width: 130px;">
              <button class="input-group-text decrement-btn">-</button>
              <input type="text" name="quantity qty-input" class="form-control qty-input text-center" value="1" >
              <button class="input-group-text increment-btn">+</button>
           </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary me-3">Adaugă în coș <i class="fa fa-shopping-cart"></i></button>
        </div>
      </div>
    }

  </div>
