@model RestaurantSiteComenzi.Models.ComandaLivrare

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link href="@Url.Content("~/css/form.css")" rel="stylesheet" type="text/css" />
</head>

<h1>Sunteți sigur că doriți să ștergeți aceasta?</h1>

<div class="div-form">
    <h2>Comanda:</h2>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bloc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bloc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scara)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apartament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apartament)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numar_Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numar_Telefon)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Ștergere" class="btn btn-danger" />
    </form>
</div>

<a class="btn" asp-action="Index">Înapoi la tabel</a>