@model IEnumerable<RestaurantSiteComenzi.Models.ComandaLivrare>
@{
    ViewData["Title"] = "Comenzi";
}
@Html.Partial("_Header")

<h1 style="text-align: center">Comenzi</h1>

<p>
    <a class="btn save" asp-action="Create">Adaugă o comanda nouă</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bloc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numar_Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Comanda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stare_Comanda_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numar_Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Comanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stare_Comanda.Nume)
            </td>
            <td>
                <a class="btn save" asp-route-id="@item.id">Produse</a>
                <a class="btn edit" asp-action="Edit" asp-route-id="@item.id">Editează</a> 
                <a class="btn delete" asp-action="Delete" asp-route-id="@item.id">Ștergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
