@model IEnumerable<RestaurantSiteComenzi.Models.Cos>

@{
    ViewData["Title"] = "Coș de cumpărături";
}

<link href="@Url.Content("~/css/Cart.css")" rel="stylesheet" type="text/css" />

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-auto mr-auto">
                    <h4>Coșul de cumpărături:</h4> 
                </div>
                <div class="col-auto">
                    <a class="fa fa-refresh fa-2x" aria-hidden="true" onClick="document.location.reload(true)"></a>
                </div>
            </div>
            <hr />
            @foreach (var item in Model)
            {
                //de facut aici: implementat actualizare cantitate, butonul plata
                <div class="d-flex flex-row justify-content-between align-items-center p-2 mt-4 px-3 rounded product_data" id="card">
                    <!--IMAGINE PRODUS-->
                    <div class="mr-1">
                        <img class="rounded" src=" @Url.Content(item.Produs.Imagine) " width="100"/>
                    </div>
                    <!--NUME PRODUS-->
                    <div class="d-flex flex-column align-items-center product-details">
                        <span class="font-weight-bold">@Html.DisplayFor(x => item.Produs.Nume_Produs)</span>
                    </div>
                    <!--SELECTARE CANTITATE PRODUS-->
                    <div class="d-flex flex-row align-self-center "  id="qty_select">
                        <input type="hidden" value=" @Html.DisplayFor(x => item.id) " class="prod_id"/>
                        <div class="input-group text-center" style="width: 95px">
                            <a class="decrement-btn"  id="remove-hover">
                                <i class="fa fa-minus" style="padding-left:9px" id="remove-hover"></i>
                            </a>
                            <input type="text" readonly="readonly" id="qty_display" class="qty-input text-center" value="@Html.DisplayFor(x => item.Quantity)" style="padding-left:5px"/>
                            <a class="increment-btn" id="remove-hover">
                                <i class="fa fa-plus" id="remove-hover"></i>
                            </a>
                        </div>
                    </div>
                    <!--PRET PRODUS-->
                    <div>
                        <h5 class="text-grey">@Html.DisplayFor(x => item.Produs.Pret_Produs) </h5>
                    </div>
                    <!--STERGERE PRODUS DIN COS-->
                    <div class="d-flex align-items-center">
                        <button class="deleteCartBtn"><i class="fa fa-trash mb-1 text-danger"></i></button>
                    </div>
                </div>
            }
            <hr />
            <div class="d-flex flex-column align-items-center">
                <h5>Total: <b>  </b> </h5> 
            </div>
            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white">
                <button class=" btn btn-primary btn-lg" type="button">Alegere metodă de plată</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
        <script type="text/javascript" src="~/js/Cart.js"></script>
}